<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="myeclipse.profiling.mode" value="-1"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/testJavaSe/src/com/hsw/test2/TestMergeSort.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.hsw.test2.TestMergeSort"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="testJavaSe"/>
</launchConfiguration>
